html {
  font-size: 100px;
}

body {
  font-size: .16rem;
}

// 主界面样式
.AppView {
  &>header {
    line-height: .5rem;
    background-color: #43515a;
    border-color: #43515a;
    color: #fff;
    user-select: none;
    position: fixed;
    width: 100vw;
    top: 0;
    box-shadow: 0px 4px 5px 0px #f6f6f6;
    padding: 0 calc(50vw - 5rem);

    &>h2 {
      display: inline-block;
    }

    &>ul {
      display: inline-block;

      &>li {
        display: inline-block;
        padding: 0 15px;
        font-size: .12rem;
        cursor: pointer;
      }
    }
  }

  &>div {
    padding: 0 calc(50vw - 5rem);
    padding-top: .7rem;
  }
}